.d{
    
  background-color: rgb(86, 182, 78);
  height: 80px;
  width: 80px;
}
.w{
  
  background-color: rgb(160, 215, 149);
  height: 80px;
  width: 80px;
}
table{
  border-collapse: collapse;
  border: 3px solid black;
  margin:30px 0px 0px 450px;
}
span{
  margin-left: 25px;
  font-size: 35px;
}

